In [2]:
import pandas as pd
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)
df['Age']

# create a series
ages = pd.Series([22, 34, 12], name = "Age")
type(ages)

# do things with series
df['Age'].max()
ages.max()
ages.describe() # basic statistics

count     3.000000
mean     22.666667
std      11.015141
min      12.000000
25%      17.000000
50%      22.000000
75%      28.000000
max      34.000000
Name: Age, dtype: float64

In [6]:
# Test read and write
# import os
# file = "https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/datasets/titanic/test.csv"
# os.system("wget " + file)
# titanic = pd.read_csv("pandas/test.csv")
titanic = pd.read_csv("test.csv")
titanic
titanic.head(2)
titanic.head(0)
# titanic.tail()
titanic.dtypes
titanic.to_excel("titanic.xlsx", sheet_name = "passengers", index = False)

In [45]:
import matplotlib.pyplot as plt
import seaborn as sns

ages = titanic["Age"]
titanic["Age"].shape
age_sex = titanic[["Age", "Sex"]]
print(age_sex.head())
type(age_sex)
above_35 = titanic[titanic["Age"] > 35]
# sns.distplot(titanic["Age"], kde = True)
# sns.distplot(above_35["Age"], kde = True)
# plt.plot()

# age_no_na = titanic[titanic["Age"].notna()]
# age_no_na.head()
# class_231 = titanic[titanic["Pclass"].isin([2, 3])]
# class_232 = titanic[(titanic["Pclass"] == 2) | (titanic["Pclass"] == 3)]
adult_names = titanic.loc[titanic["Age"]>35, "Name"]
adult_names

    Age     Sex
0  34.5    male
1  47.0  female
2  62.0    male
3  27.0    male
4  22.0  female

1                       Wilkes, Mrs. James (Ellen Needs)
2                              Myles, Mr. Thomas Francis
11                            Jones, Mr. Charles Cresson
13                                  Howard, Mr. Benjamin
14     Chaffee, Mrs. Herbert Fuller (Carrie Constance...
                             ...
404                         Frauenthal, Mr. Isaac Gerald
407                           Widener, Mr. George Dunton
411      Minahan, Mrs. William Edward (Lillian E Thorpe)
414                         Oliva y Ocana, Dona. Fermina
415                         Saether, Mr. Simon Sivertsen
Name: Name, Length: 105, dtype: object

In [5]:
# References
### [Repo](https://github.com/wesm/pydata-book)

'/Users/yaoling/OneDrive - NTNU/Self-improvements/LearnedAlgorithms/pandas'

# References
### [Repo](https://github.com/wesm/pydata-book)